{% extends 'blogs/base.html' %}
{% load crispy_forms_tags %}   
{% block content %}
{% if next %}
{% if user.is_authenticated %}
  <p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% else %}
  <p>Please login to see this page.</p>
{% endif %}
{% endif %}
<form  method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    {% comment %} {{login_form|crispy}} {% endcomment %}
    <input type="submit" value="login" >
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% comment %} <a href="{% url 'account:register' %}">Register</a><br> {% endcomment %}
<a href="{% url 'blog:home' %}">Back</a>

{% endblock %}